<%= form_for(@recipe) do |f| %>
<%= render 'layouts/errors' %>
<p class="form-group">
    <%= f.label :Nome %>
    <%= f.text_field :name, class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Ingredientes %>
    <%= f.text_area :stuff, cols: 20, rows: 5, class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Tipo %>
    <%= f.select :kind, Recipe::KIND, prompt: 'Escolha sua opção', class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Calorias %>
    <%= f.number_field :calories, class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Modo_de_preparo %>
    <%= f.text_area :prepare_mode, cols: 20, rows: 5, class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Tempo_de_preparo %>
    <%= f.time_select :duration, class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Porções %>
    <%= f.text_field :portion, class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Custo %>
    <%= f.number_field :cost, class:"form-group" %>
</p>
<p class="form-group">
    <%= f.label :Poster %>
    <%= f.text_field :poster, placeholder: ".GIF, .JPEG ou .PNG", class:"form-group"   %>
</p>
<p>
    <%= f.submit class:'btn btn-primary' %>
    <%= link_to 'Cancelar', root_path, class: 'btn btn-default' %>
</p>
 
<% end %>